In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [7]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [8]:
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

In [11]:
match_lvl_data = pd.read_csv('./match_data.csv')
batsman_lvl_data = pd.read_csv('./batsman_data.csv')
bowler_lvl_data = pd.read_csv('./bowler_data.csv')
train_data = pd.read_csv('./df_train.csv')
test_data = pd.read_csv('./df_train.csv')

In [9]:
match_lvl_data = pd.read_csv('match_level_scorecard.csv')
batsman_lvl_data = pd.read_csv('batsman_level_scorecard.csv')
bowler_lvl_data = pd.read_csv('bowler_level_scorecard.csv')
train_data = pd.read_csv('train_data_trial_1.csv')
test_data = pd.read_csv('test_data_with_samplefeatures.csv')

In [10]:
## Creating a binary winner column - 0 if team1 wins, else 1
train_data['winner_01'] = train_data.apply(lambda x: 0 if (x['team1']==x['winner']) else 1, axis=1)

In [11]:
train_data.head()

   match id     team1  team1_id  ... team_count_4s_last15 team_count_6s_last15  team_avg_stk_last15
0  9331181   Ba        11283     ...  1.555556             1.555556             1.555556
1  8797060   Ed        20        ...  1.248227             1.248227             1.248227
2  9433269   We        10576     ...  1.025381             1.025381             1.025381
3  9587073   Ga An Ws  36084     ...  1.289308             1.289308             1.289308
4  9516457   Pb Ks     30407     ...  0.891304             0.891304             0.891304

[5 rows x 27 columns]

In [12]:
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [20]:
#pip install xgboost

In [13]:
train_data.head()

   match id     team1  team1_id  ... team_count_4s_last15 team_count_6s_last15  team_avg_stk_last15
0  9331181   Ba        11283     ...  1.555556             1.555556             1.555556
1  8797060   Ed        20        ...  1.248227             1.248227             1.248227
2  9433269   We        10576     ...  1.025381             1.025381             1.025381
3  9587073   Ga An Ws  36084     ...  1.289308             1.289308             1.289308
4  9516457   Pb Ks     30407     ...  0.891304             0.891304             0.891304

[5 rows x 27 columns]

In [14]:
test_data.head()

   match id     team1  team1_id  ... team1only_avg_runs_last15 team1_winp_team2_last15  ground_avg_runs_last15
0  9250275   Jy        28594     ... NaN                        0.00                   NaN
1  9262189   Ga An Ws  36084     ...  151.285714                66.67                   153.500
2  9128776   Rn Rs     30428     ...  171.066667                100.00                  179.625
3  9586919   Ja Ts     36098     ...  166.000000                75.00                   155.500
4  9128538   Ci Sr Ks  30414     ...  169.933333                0.00                    164.125

[5 rows x 21 columns]

In [15]:
# Selecting features and target for the model
features = train_data[['team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'team_count_50runs_last15',
                      'team_winp_last5', 'team1only_avg_runs_last15', 'ground_avg_runs_last15']]
target = train_data['winner_01']

# Convert categorical variables to dummy variables
features_encoded = pd.get_dummies(features)

In [16]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(features_encoded, target, test_size=0.2, random_state=42)

In [17]:
# Initialize and train the XGBoost model
model = xgb.XGBClassifier(objective='multi:softmax', num_class=len(target.unique()))
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None, num_class=2,
              num_parallel_tree=None, ...)

In [18]:
predictions = model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.5