In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

C:\Users\riori\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\riori\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\riori\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

In [4]:
match_lvl_data = pd.read_csv('match_level_scorecard.csv')
batsman_lvl_data = pd.read_csv('batsman_level_scorecard.csv')
bowler_lvl_data = pd.read_csv('bowler_level_scorecard.csv')
train_data = pd.read_csv('train_data_trial_1.csv')
test_data = pd.read_csv('test_data_with_samplefeatures.csv')

In [5]:

match_lvl_data.shape
match_lvl_data.head(2)
/

(1689, 30)

   match id  team1  team2  ...     series_type winner_id  player_of_the_match_id
0  8638034   Nn Ds  Wn     ...  other_domestic  18570    NaN
1  8588005   Me Rs  Sy Tr  ...  other_domestic  33963     1749075.0

[2 rows x 30 columns]

()

In [6]:

batsman_lvl_data.shape
batsman_lvl_data.head(2)

(24483, 21)

   match id batsman  batsman_id                           batsman_details  ...  strike_rate  Fours  Sixes    match_dt
0  8638034   KD Ce   7907451.0   NZ:Right-hand bat:Right-arm medium-fast:  ...  140.0        1.0   NaN     2021-01-01
1  8638034   TL St   4381761.0   NZ:Right-hand bat:None:                   ...  100.0        4.0    1.0    2021-01-01

[2 rows x 21 columns]

In [7]:
unique_batsman_ids = batsman_lvl_data['batsman_id'].nunique()
print(unique_batsman_ids)

2118

In [8]:
bowler_lvl_data.shape
bowler_lvl_data.head(2)

(18539, 18)

   match id bowler  bowler_id                            bowler_details  ...  Sixes  wides  noballs    match_dt
0  8638034   BV Ss  6718396.0  NZ:Right-hand bat:Right-arm medium-fast:  ...  1      3      1        2021-01-01
1  8638034   HK Bt  1585464.0  NZ:Left-hand bat:Right-arm medium-fast:   ...  1      2      0        2021-01-01

[2 rows x 18 columns]

In [9]:
train_data.shape
train_data.head(2)

(948, 27)

   match id team1  team1_id  ... team_count_4s_last15 team_count_6s_last15  team_avg_stk_last15
0  9331181   Ba    11283     ...  1.555556             1.555556             1.555556
1  8797060   Ed    20        ...  1.248227             1.248227             1.248227

[2 rows x 27 columns]

In [10]:
test_data.shape
test_data.head(2)

(271, 21)

   match id     team1  team1_id  ... team1only_avg_runs_last15 team1_winp_team2_last15  ground_avg_runs_last15
0  9250275   Jy        28594     ... NaN                        0.00                   NaN
1  9262189   Ga An Ws  36084     ...  151.285714                66.67                   153.5

[2 rows x 21 columns]

In [11]:
train_data['winner_01'] = train_data.apply(lambda x: 0 if (x['team1']==x['winner']) else 1, axis=1)

In [12]:

from matplotlib import pyplot as plt
plt.style.use('seaborn');
import re

def createRnP(X_12, feature, N=5, ylim_lb=0.3, ylim_ub=0.7):
    '''
    Rank and Plot of input feature on the input data. The y-axis shows %team1 wins in each bucket.
    
    Parameters-
    1. X_12: dataset to build the RnP on. 
    2. feature: Feature to build RnP of.
    3. N: number of bins on x-axis. Default 5.
    4. ylim_lb: lower bound of y axis on plot.
    5. ylim_ub: upper bound of y axis on plot.
    
    Output-
    1. Rank and Plot
    
    Returns- None
    '''
    df = X_12.copy()
    df[f'{feature}_bin'] = df[feature].rank(pct=True)//(1/N) # divide feature values for all games in 5 equi-volume buckets.
    df['count'] = 1
    df['team1_win%'] = df['winner_01'].apply(lambda x: 1-x) # invert winner_01 to get team1 winner indicator
    df['team2_win%'] = df['winner_01'].copy()
    df[f'{feature}_min'] = df[feature].copy()
    df[f'{feature}_max'] = df[feature].copy()
    df_g = df.groupby(f'{feature}_bin').agg({'team1_win%':'mean', 'team2_win%':'mean', 'count':'sum', f'{feature}_min':'min',\
                                            f'{feature}_max':'max'}).reset_index()
    N = min(N,df_g.shape[0])
    blue_bar = df_g['team1_win%'].values.tolist()
    ind = np.arange(N)
    # plotting starts
    plt.figure(figsize=(10,5));
    plt.bar(ind, blue_bar, label='Team 1 win%');
    plt.axhline(y=0.5, linewidth=0.5, color='k', linestyle = '--')
    xlabel = re.sub('team_','ratio_',feature)
    plt.xlabel(f'{xlabel} (team1 / team2) bins');
    plt.ylabel('Win %');
    plt.title(f'RnP - {feature} vs win');
    df_g['xticks'] = df_g.apply(lambda x: str(round(x[f'{feature}_min'],2)) + ' - ' + str(round(x[f'{feature}_max'],2)), axis=1)
    plt.xticks(ind, df_g['xticks']);
    plt.ylim([ylim_lb,ylim_ub]);
    plt.legend(loc='best');
    x2,x1 = blue_bar[-1],blue_bar[0]
    slope = x2/x1
    if slope < 1:
        slope = 1/slope
        x1,x2 = x2,x1
    print('slope:', round(x2,2),'/',round(x1,2), '= ',round(slope,2))
    plt.show();

In [13]:
def giveLastNgamesPlayer(player_id, date, n, bat_or_bowl):
    '''
    Function to get last n games stats of a player before an input date.
    
    Input-
    1. player_id: id of the player to get historical data.
    2. date: date to look-back and get n games. Stats returned are before this input date.
    3. n: Number of historical games stats to return.
    4. bat_or_bowl: Kind of stats to return. {'bat': batting stats to return, 'bowl': bowling stats to return}
    
    Output-None
    
    Returns- dataframe having bowling/batting stats from last n games of a player before an input date. 
    The results are sorted by date.
    '''
    if bat_or_bowl == 'bat':
        df_topick = batsman_lvl_data
        id_col = 'batsman_id'
    else:
        df_topick = bowler_lvl_data
        id_col = 'bowler_id'
        
    return df_topick[(df_topick['match_dt']<date)&(df_topick[id_col]==float(player_id))]\
                .sort_values(by='match_dt', ascending=False).head(n)